body{
	background-color: #333;
	color: white;
	padding: 50px;
}
h1{
	color: yellow;
	text-align: center;
	font-size: 50px;
}
h2{
	font-family: Verdana;
	font-size: 15px;
	text-align: center;


}
p{
	font-size: 30px;
}
h3{
	color: orange;
}
div.parent {
	text-align: center;
	font-size: 50px

}
ol{
	text-align: left;
	display: inline-block;
	font-size: 50px
	color: #333;
	padding: 50px;
}
