body{
	background-color: #333;
	color: white;
	padding: 50px;
}
h1{
	color: white;
	text-align: center;
	font-size: 50px;
}
h2{
	font-family: Verdana;
	font-size: 15px;
	text-align: center;


}
p{
	font-size: 30px;
}
h3{
	color: orange;
}
div.parent {
	text-align: center;
	font-size: 50px

}

ol{
	text-align: left;
	display: inline-block;
	font-size: 50px
	color: #333;
	padding: 50px;
}
.animacion {

  position: relative;
  animation-name: animacion;
  animation-duration: 4s;
}

@keyframes animacion {
  0%   {color:red; left:0px; top:0px;}
  25%  {color:yellow; left:200px; top:0px;}
  50%  {color:blue; left:200px; top:200px;}
  75%  {color:green; left:0px; top:200px;}
  100% {color:red; left:0px; top:0px;}
